<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>About</h1>
</div>
   <div>
    <p>
        Hi there! I'm Abhay Singh, a second-year Computer Science student with a passion for technology and programming. I embarked on a thrilling journey as part of a user management system project using Node.js.
        This experience has been incredibly rewarding, providing me with hands-on opportunities to apply and enhance my skills in web development, databases, and server-side scripting.
    </p>
    </div>

    <div>
    <p>
        Throughout the project, I faced and conquered various challenges, from designing a user-friendly interface to optimizing database interactions.
        This project allowed me to delve deep into the practical aspects of software engineering and solidify my understanding of key concepts.
    </p>
    </div>

    <div>
    <p>
        My interest in computer science extends beyond the classroom, and I enjoy exploring new technologies,
        contributing to open-source projects, and staying up-to-date with the latest industry trends.
        When I'm not coding, you can find me immersed in a good book, listening to songs, or
        enjoying outdoor activities.
    </p>
</div>
